header.header
    .header__button
        a(href=routes.home) #{siteName}
    .header__button
        ul
            if !user
                li
                    a(href=routes.join) 가입하기
                li
                    a(href=routes.login) 로그인
            else
                li
                    a(href=routes.profile) 프로필
                li
                    a(href=routes.logout) 로그아웃
    .header__form
        form(action=routes.search, method="get")
            input(type="text" placeholder="검색" name="search")