header.header
    ul
        li
            .header__button
                a(href=routes.home) 
                    <i class="fab fa-youtube"></i> Mytube
        li
            .header__form
                form(action=routes.search, method="get" class="form")
                    input(type="text" placeholder="검색" name="search")
    .header__join
        ul
            if !loggedUser
                li
                    a(href=routes.join) 회원가입
                li
                    a(href=routes.login) 로그인
            else
                li
                    a(href=`/users${routes.me}`) 프로필
                li
                    a(href=`/login${routes.logout}`) 로그아웃