//- 메인 홈화면 올라온 비디오가 순서대로 올라가있을 계획
extends ./layouts/main.pug
include ./mixins/videoBlock.pug
include ./mixins/boardBlock.pug

block content
    include ./partials/list.pug
    .post_wrap
            p 비디오
                .videos
                    if (videos)
                        ul
                            each video in videos
                                li
                                    a(href=routes.videoDetail(video.id))
                                        video(src=video.fileUrl width="400px" )
            p 게시판
                .boards
                    if (boards)
                        ul
                            each board in boards
                                li                    
                                    a(href=routes.boardsDetail(board.id))
                                        span(class="boardTitle")=board.title
                                        span(class="boardViews") 조회수 
                                            span=board.views
                                                span 회•
                                                    span=board.createdAt    