mixin boardBlock(board={})    
    .videoBlock
        a(href=routes.boardsDetail(board.id))
            .videoTop
                img(src=board.avata)
            .videoBot
                p(class="videoTitle")=board.title
                p(class="videoCreator")=board.creator
                p 조회수 
                    span=board.views
                    |회•
                    span=board.createdAt
                    
                        
                        