mixin videoBlock2(video={})
    .videoBlock2
        .videoBlockV
            a(href=routes.videoDetail(video.id))
                video.videoBlock__thumbnail(src=video.fileUrl,witdh="170",height="95")
        .videoBot2
            p(class="block2Title")=video.title
            p(class="block2Creator")=video.creator
            p(class="block2View") 조회수 
                span=video.views
                |회
                
                