mixin boardBlock(board={})
    .boardList
        .boardBlock
            a(href=routes.boardsDetail(board.id))
                span(class="boardTitle")=`${board.title} `
                    span=`+${board.comments}`
                span(class="boardViews") 조회수 
                    span=board.views
                        span 회•
                            span=board.createdAt
                    p(class="avata")
                        img(src=board.avata)
                        span=board.creator