mixin videoPlayer2(video={})
    .videoPlayer
        video(src=video.src,width="1280px",height="720px")
                .videoEditBox
                    a(href=routes.deleteVideo(video.videoId)) VideoDelete
        .videoDetailTitle
            .videoTitle
                form(method="post")
                    textarea(name="title",cols=150,rows=3)=video.title
                    input(type="submit" value="수정")
            .videoView
                span 조회수 
                    span=video.views
                    |회•
                    span=video.createdAt
                .videoButton
                    button#jsVideoUp
                        <i class="fas fa-thumbs-up"></i>
                    span=video.like
                    button#jsVideoDown
                        <i class="fas fa-thumbs-down"></i> 
                    span=video.unlike                    
        .videoCreator
            a(href=routes.userDetail(video.id))
                img(src=video.avata , width="48px",height="48px")
                span=video.creator
            form(method="post")
                textarea(name="description", cols=150)=video.description
                input(type="submit" value="수정")
        .videoCommentHeader
            span 댓글 
                span#jsCommentNum #{video.comments.length}개
        .videoComment
            img(src=loggedUser.avataUrl width="48px",height="48px")
            .videoCommentForm
                form#jsAddComment
                    input(type="text",name="comment" class="comment",placeholder="공개 댓글 추가...")
        .CommentBlock
            each videos in video.comments.reverse()        
                .CommentUser
                    a(href=routes.userDetail(videos.creator))
                        img(src=videos.avataUrl, width="48px",height="48px")     
                    .CommentName
                        a(href=routes.userDetail(videos.creator))
                            p=`${videos.name} `
                                span=videos.createdAt
                        .CommentText
                            p=videos.text
                        button(class="thumbsUp")#jsCommentLike 
                            <i class="fas fa-thumbs-up"></i>
                            span=videos.like
                        button(class="thumbsDown")#jsCommentunLike 
                            <i class="fas fa-thumbs-down"></i> 
                            span=videos.unlike                    
                        if loggedUser._id == videos.creator
                            button(class="jsCommentEdit" id=`${videos.id}`) 수정
                            button(class="jsCommentDelete" id=`${videos.id}`) 삭제
